.QWidget {
   background-color: white;
}

.QPushButton {

}

.QPushButton:hover {

}



.QSlider {
    min-height: 68px;
    max-height: 68px;
    background: #eeeeee;
}

.QSlider::groove:horizontal {
    border: 1px solid #262626;
    height: 5px;
    background: #999999;
    margin: 12 12 12 12;
}

.QSlider::handle:horizontal {
    background: #22B14C;
    border: 3px solid #B5E61D;
    width: 8px;
    height: 10px;
    margin: -18px -12px;
}
